user nginx;
worker_processes  1;

pid /var/run/nginx.pid;

events {
  worker_connections 1024;
}

http {
  include           /etc/nginx/mime.types;
  default_type      application/octet-stream;

  # Turn off the bloody buffering to temp files
  proxy_buffering off;

  sendfile          off;
  keepalive_timeout 120;
  
  server_names_hash_bucket_size 128;
  
  client_body_buffer_size 10m;
  client_max_body_size    10m;

  server {
    listen 80;
    server_name _;

    location / {
      # root /mnt/shared;
      root /mnt/local-http-server;
    }
  }
}
